{% load static %}
<header>
    <div class="left">
        <h1><a href="/">Logo</a></h1>
    </div>
    <div class="middle">
        <div class="SearchContainer">
            <img src="{% static 'images/search.png' %}" alt="search">
            <input type="text" name="q" placeholder="search...">
        </div>
    </div>
    <div class="right">
        {% if request.user.is_authenticated %}
            <a href=" {% url 'quora:create' %}" class="question" >Add Question</a>
        {% else %}
            <a href=" {% url 'user:login' %}" class="question" >Add Question</a>
        {% endif %}

        {% if request.user.is_authenticated %}
            <a href="{% url 'user:logout' %}" class="button">logout</a>
        {% else %}
            <a href="{% url 'user:login' %}" class="button">login</a>
        {% endif %}
    </div>
</header>