<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{title}}</title>
</head>
<body>
    {% include "web/includes/header.html" %}
    <section id="main">
        <div class="left">
            <div class="filter">
                <h2>Filter</h2>
                <ul>
                    <li>place</li>
                    <li>food</li>
                    <li>automobile</li>
                    <li>construction</li>
                    <li>Books</li>
                </ul>
            </div>
        </div>
        <div class="right">
            {% if request.user.is_authenticated %}
                <div class="name" style="margin: 20px 0 40px; color: #b92b27;">
                    <h2> Hi {{request.user.first_name}},</h2>
                </div>
            {% endif %}
            {% for question in question %}
            <div class="content">
                <div class="question">
                    <div class="title">
                        <div class="left">
                            <img src="{%static 'images/profile_demo.png' %}" alt="profile">
                        </div>
                        <div class="right">
                                <h5>{{question.name}}</h5>
                                <h6>{{question.date}}</h6>
                        </div>
                    </div>
                    <div class="main">
                            <h4 class="question">{{question.question}}</h4>

                            {% if question.name.user == request.user %}
                            <div class="delete" style="margin: 5px 0 20px ;">
                                <a href="{% url 'quora:deleteQ' id=question.id%}" class="action-button reload" style=" color: red;">delete Question</a>
                            </div>
                            {% endif %}
                            
                            {% if request.user.is_authenticated %}
                                <a href=" {% url 'quora:answer' id=question.id %}" style=" color: blue; margin: 10px;display: block;" >Post yourAnswer</a>
                            {% else %}
                                <a href=" {% url 'user:login' %}" >Answer</a>
                             {% endif %}

                            {% for answer in question.answer_set.all %}
                            {% if  not answer.is_deleted %}
                            <div class="item">
                                <h5>{{answer.username}}</h5>
                                <h6>{{answer.date}}</h6>
                                <p class="answer">
                                    {{answer.answer}}

                                </p>
                                {% if answer.username.user == request.user %}
                                <div class="delete">
                                    <a href="{% url 'quora:deleteA' id=answer.id%}" style=" color: red;" class="action-button reload">delete Answer</a>
                                </div>
                                {% endif %}
                                {% if user.is_authenticated %}
                                    {% if request.user in answer.like.all %}
                                        <div class="like">
                                            <a href="{% url 'quora:like' id=answer.id%}" class="like-button reload"><img class="likeImage" src="{% static 'images/heart2.png' %}" alt="userliked"></a>
                                            
                                            <h5 class="like-count">{{answer.like.count}} likes</h5>
                                        </div>
                                    {% else %}
                                        <div class="like">
                                            <a href="{% url 'quora:like' id=answer.id%}" class="like-button reload"><img class="likeImage" src="{% static 'images/heart1.png' %}" alt="userliked"></a>
                                            
                                            <h5 class="like-count"> {{answer.like.count}} likes</h5>
                                        </div>
                                    {% endif %}
                                {% else %}
                            
                                <div class="like">
                                    <img  src="{% static 'images/heart1.png' %}" alt="userliked">
                                    <h5>{{answer.like.count}} likes</h5>
                                </div>
                                {% endif %}
                            </div>
                            {% endif %}
                            {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html> 