<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>{{title}}</title>
</head>
<body>
    {% include "web/includes/header.html" %}
    <section id="main">
        <div class="left">
            <div class="filter">
                <h2>Filter</h2>
                <ul>
                    <li>place</li>
                    <li>food</li>
                    <li>automobile</li>
                    <li>construction</li>
                    <li>Books</li>
                </ul>
            </div>
        </div>
        <div class="right">
            {% for question in question %}
            <div class="content">
                <div class="question">
                    <div class="title">
                        <div class="left">
                            <img src="{%static "images/profile_demo.png" %}" alt="profile">
                        </div>
                        <div class="right">

                                <h5>{{question.name}}</h5>

                                <h6>{{question.date}}</h6>

                        </div>
                    </div>
                    <div class="main">
                            <h4 class="question">{{question.question}}</h4>
                            <a href="{% url 'quora:answer' id=question.id %}" class="answer">Answer</a>
                            {% for answer in question.answer_set.all %}
                            <div class="item">
                                <h5>{{answer.username}}</h5>
                                <h6>{{answer.date}}</h6>
                                <p class="answer">
                                    {{answer.answer}}

                                </p>
                                <div class="like">
                                    <img src="{% static 'images/heart2.png' %}" alt="userliked">
                                    <h5>likes</h5>
                                </div>
                            </div>
                            {% endfor %}
                    </div>
                    
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    
</body>
</html> 